.idea
.vscode
/.cache
/.logs
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

src/PowerCord/plugins/*
!src/PowerCord/plugins/pc-*

src/PowerCord/coremods/react-devtools/ext
src/PowerCord/themes/*
!src/PowerCord/themes/.exists

settings/*.json

config.json
*injected.txt
*.nogit.*
